<h1>Andrews Party Planning Give us all your money Extravaganza</h1>
<h3>You are having a $party-type party, with $guests guests, where you will consume $meal, while listening to $music. You may inebriate your self with the $drinks. You now owe us $$money </h3>
